.heading {
    display: flex;
    width: 1920px;
    justify-content: space-evenly;
    background-color: lightgreen;
    border: solid;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome {
    border: solid; 
    border-radius: 10px;
    background-color: beige;
    width: 448px; 
    height: 336px;
    padding: 16px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcomeheader {
    width: 448px;
    height: 10px;
    background-color: darkgreen;
}

.closebutton {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-small;
    cursor: pointer; 
    display: flex; 
    justify-content: right;
}

.welcomeopen_time {
    cursor: pointer; 
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 20px;
    padding: 4px;
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    border-radius: 10px;
}

.default {
    border: solid; 
    border-radius: 10px;
    background-color: beige;
    width: 448px; 
    height: 336px;
    padding: 16px; 
    position: absolute;
}

.header {
    width: 448px;
    height: 10px;
    background-color: darkgreen;
}

.apps {
    border-radius: 16px;
    width: 64px;
    cursor: pointer;
    transform: translate(50%, 50%);
}

.selectedApp {
    border-radius: 64px;
    width: 64px;
    cursor: pointer;
    transform: translate(50%, 50%);
}

.calculator {
    border: solid; 
    border-radius: 10px;
    background-color: beige;
    width: 224px; 
    height: 336px;
    padding: 16px; 
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
}

.calculatorheader {
    width: 224px;
    height: 10px;
    background-color: darkgreen;
}

.calcText {
    font-size: large; 
    font-family: 'Times New Roman', Times, serif;
}

.notif {
    border: solid; 
    border-radius: 10px;
    background-color: rgba(245, 245, 220, 0.8);
    padding: 8px; 
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.victory {
    border: solid; 
    border-radius: 10px;
    background-color: rgba(245, 245, 220);
    padding-top: 8px;
    padding-left: 32px; 
    padding-right: 32px;
    position: absolute;
    transform: translate(-50%, -50%);
    display: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    left: 50%; 
    top: 50%; 
    width: 800px; 
    height: 400px;
}